.gridContainer {
  display: grid;
  border: 2px solid #666;
  background-color: #1e1e2f;
  margin-top: 20px;
}

.gridCell {
  width: 40px;
  height: 40px;
  border: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.gridCell:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}
